name: Handle Pull Request
on:
  pull_request_target:
    types: [opened, reopened]

jobs:
  close-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Add Lando link
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
          PR: ${{ github.event.pull_request.number }}
        run: |
          gh pr comment ${{ env.PR }} --body "Please check Lando https://lando.test/pulls/git-repo/${{ env.PR }} to land this pull request once approved."
