name: Tests

on:
  pull_request:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest
    if: ${{ contains(github.event.pull_request.title, 'fail') }}
    steps:
      - name: Run failing test
        run: sleep 5; false
